
<tr>
<td class=row1>
<table><tr><td>
<a href="JavaScript:paste_strinL('[b][/b]',0)" onMouseOver="window.status='Bold Style'; return true" onMouseOut="window.status=''; return true"><img src="./data/images/gui/buttons/button_bold.gif" alt="Bold Style"></a>&nbsp;

<a href="JavaScript:paste_strinL('[i][/i]',0)" onMouseOver="window.status='Italic Style'; return true" onMouseOut="window.status=''; return true"><img src="./data/images/gui/buttons/button_italic.gif" alt="Italic Style"></a>&nbsp;

<a href="JavaScript:paste_strinL('[u][/u]',0)" onMouseOver="window.status='Underlined Style'; return true" onMouseOut="window.status=''; return true"><img src="./data/images/gui/buttons/button_underlined.gif" alt="Underlined Style"></a>&nbsp;

<a href="JavaScript:paste_strinL('[img][/img]',0)" onMouseOver="window.status='Image Link'; return true" onMouseOut="window.status=''; return true"><img src="./data/images/gui/buttons/button_image.gif" alt="Image Link"></a>&nbsp;

<a href="JavaScript:paste_strinL('[url=][/url]',0)" onMouseOver="window.status='Insert URL'; return true" onMouseOut="window.status=''; return true"><img src="./data/images/gui/buttons/button_url.gif" alt="Insert URL"></a>&nbsp;

<a href="JavaScript:paste_strinL('[email=][/email]',0)" onMouseOver="window.status='Email Link'; return true" onMouseOut="window.status=''; return true"><img src="./data/images/gui/buttons/button_email.gif" alt="Email Link"></a>&nbsp;

</td><td width=13><input type=checkbox class=cb name=disbbcode value=on></td><td><span style="font-size:9px">Disable BBcode</span></td></tr></table>

</td>
</tr>
<tr>
<td style="text-align:center; width: 99%;"><textarea name=postText cols=62 maxwidth=390 rows=8 tabindex=2 style="font-size:11px">{$postText}</textarea>
</td>
</tr>
