<tr valign=top class={$bg}>
<td width="15%" class=caption1><div class=username><b><a name="{$anchor}" href="JavaScript:paste_strinL('{$posterName}',2)">{$posterName}</a></b><br /><span class=txtSm>{$viewReg}</span></div>
<br /><br />
</td>
<td width="75%" class=caption1><span class=txtSm>{$l_posted}: {$postDate}{$editedBy}{$viewIP}<br /><script type="text/javascript">getQuotation();</script>{$allowed}</span><br /><div align=left><table align=left><tr><td width=320>{$posterText}</td></tr></table></div></td>
</tr>
