.boxText { font-family: Arial, sans-serif; font-size: 10px; }
.errorBox { font-family : Arial, sans-serif; font-size : 10px; background: #ffb3b5; font-weight: bold; }
.stockWarning { font-family : Arial, sans-serif; font-size : 10px; color: #cc0033; }
div.productsNotifications { background: #f2fff7; padding:2px; padding-left: 10px}
.orderEdit { font-family : Arial, sans-serif; font-size : 10px; color: #70d250; text-decoration: underline; }

/* message box */

.messageBox { font-family: Arial, sans-serif; font-size: 10px; }
.messageStackError, .messageStackWarning { font-family: Arial, sans-serif; font-size: 10px; background-color: #ffb3b5; }
.messageStackSuccess { font-family: Arial, sans-serif; font-size: 10px; background-color: #99ff00; }

/* Preload images */
div.image01,div.image02,div.image03,div.image04,div.image05,div.image06,div.image07,div.subnav1,div.subnav2,div.subnav3,div.subnav4 {
   position: absolute;
   overflow: hidden;
   left: -9999px; 
   top: -9999px;
   height: 1px;
   width: 1px;
}
div.image01
{
	background-image: url('images/home/homepage_15.jpg');
}
div.image02
{
	background-image: url('images/banners/homepage_21.jpg');
}
div.image03
{
	background-image: url('images/banners/homepage_22.jpg');
}
div.image04
{
	background-image: url('images/banners/homepage_23.jpg');
}
div.image05
{
	background-image: url('images/banners/homepage_24.jpg');
}
div.image06
{
	background-image: url('images/banners/homepage_25.jpg');
}
div.image07
{
	background-image: url('images/buttons/learnmore_o.jpg');
}
div.image08
{
	background-image: url('images/tabbar.gif');
}
div.image10
{
	background-image: url('images/addtocart_o.jpg');
}
div.subnav1
{
	background-image: url('images/subnav/main.gif');
}
div.subnav2
{
	background-image: url('images/subnav/overstate.gif');
}
div.subnav3
{
	background-image: url('images/subnav/titlebg.gif');
}
div.subnav4
{
	background-image: url('images/subnav/bottom.gif');
}

body
{
	background-image: url('images/bg.jpg');
	background-repeat: repeat-x;
	background-position: top;
	background-color: #ffffff;
	font-family: Arial;
	color: #57565b;
	margin: 0;
	height: 100%;
	overflow: auto;
}

a img{
border:0;
} 

a
{
	color: #5fa9ca;
	text-decoration: none;
}
a:hover
{
	color: #5fa9ca;
	text-decoration: underline;
} 

a.noselect
{
				-moz-user-select: none;
				-khtml-user-select: none;
				outline: none;
				cursor: pointer;
}

input, select, textarea
{
	font-family: Arial;
	font-size: 11px;
	color: #57565b;
}


.SearchBox
{
	border: 1px solid #cccccc;
	height: 24px;
	padding-left:4px;
	padding-top: 3px;
	line-height: 17px;
	font-family: Arial;
	font-size: 11px;
	color: #57565b;
	background-color:  #dddddd;
}
.SearchBox.hover
{
	background-color:  #ffffff;
	border: 1px solid #bbbbbb;
}

h1, td.pageheading
{
	font-family: Arial;
	font-size:20px;
	font-weight:normal;
	color: #5fa9ca;	
}

h1 a
{
	font-family: Arial;
	font-size: 11px;
	color: #bababc;	
	line-height: 19px;
}

h2
{
	font-family: Arial;
	font-size: 14px;
	color: #57565b;	
}

h3
{
	font-family: Arial;
	font-size: 12px;
	color: #5fa9ca;	
	text-transform: uppercase;
}
.infoBox {
}

.infoBoxContents, td {
	font-family: Arial;
	font-size: 11px;
	color: #57565b;
}
td.fieldkey
{
	font-family: Arial;
	font-size: 11px;
	color: #57565b;
}

td.productListing-heading
{
	font-family: Arial;
	font-size: 11px;
	color: #57565b;
	font-weight: bold;	
}

ul
{
	font-family: Arial;
	font-size: 11px;
	color: #57565b;
	line-height: 16px;
	margin-left: 0px;
	padding-left: 16px;
}

ul.plus li
{
	list-style-image: url('../}images/bullet.gif');
	font-family: Arial;
	font-size: 11px;
	color: #57565b;
	line-height: 18px;
	margin-left: 0px;
	padding-left: 7px;
}

ul.plus li span
{
	font-size: 9px;
}

ul.subnav
{	
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
}

ul.subnav li
{	
	padding-left: 10px;
	line-height: 25px;
}

ul.subnav li a.off
{	
	text-decoration: none;
	color: #57565b;
}

ul.subnav li a.off:hover
{	
	text-decoration: none;
	color: #5fa9ca;
}

ul.subnav li a.on
{	
	text-decoration: none;
	color: #5fa9ca;
}

ul.subnav li.title
{	
	line-height: 35px;
	font-weight: bold;
	border-bottom: 1px solid #5fa9ca;
}

p
{
	font-family: Arial;
	font-size: 11px;
	color: #57565b;
	line-height: 16px;
}

div.homeNews
{
	background-color: #f0f0f1;
	padding: 2px 5px 2px 5px;
	margin-bottom: 3px;
}
div.homeNews a
{
	font-family: Arial;
	font-size: 11px;
	color: #57565b;
	text-decoration: underline;
}

.homeNews a:hover
{
	color: #5fa9ca;
}

.grid th
{
	background-color: #dddddd;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
}

.grid td
{
	font-family: Arial;
	font-size: 11px;
	color: #57565b;
	line-height: 16px;
	border-top: 1px solid #dddddd;
}

.default, div
{
	font-family: Arial;
	font-size: 11px;
	color: #57565b;
	line-height: 16px;
}

p a
{
	color: #57565b;
	text-decoration: underline;
}

p a:hover
{
	color: #5fa9ca;
	text-decoration: underline;
}

strong.title
{
	font-family: Arial;
	font-size: 16px;
	color: #5fa9ca;	
}

.subnavTitle
{
	text-align:center;
	height: 29px;

	padding-top: 5px;
	background-image: url('images/subnav/titlebg.gif');
	font-family: Arial;
	font-size: 11px;
	color: #57565b;
	font-weight: bold;
	filter: alpha(opacity=100);
	opacity: 1.00;
	-moz-opacity: 1.0;
}

.subnavMain
{
	background-image: url('images/subnav/main.gif');
}

.subnavMainOff
{
	width: 193px;
	padding: 5px 5px 5px 20px;
	background-image: url('images/subnav/main.gif');
}

.Sub
{
	filter: alpha(opacity=94);
	opacity: 0.94;
	-moz-opacity: 0.94;
}

.sideNavMainLink
{
	font-family: Arial;
	filter: alpha(opacity=100);
	opacity: 1.00;
	-moz-opacity: 1.0;
	font-size: 11px;
	color: #57565b;
	text-decoration: none;
}

.subnavMainOver
{
	width: 193px;
	padding: 5px 5px 5px 20px;
	background-image: url('images/subnav/overstate.gif');
}


.topNav
{
	font-family: Arial;
	font-size: 11px;
	color: #57565b;
	padding: 0px;
	padding-left: 2px;
	line-height: 20px;
}

a.topNav
{
	font-family: Arial;
	font-size: 11px;
	color: #57565b;
	padding: 3px;
	line-height: 23px;
	text-decoration: none;
}

a.topNav:hover
{
	font-family: Arial;
	font-size: 11px;
	color: #57565b;
	line-height: 23px;
	padding: 3px;
	background-color: #e8e9ea;
	text-decoration: none;
}

a.topNavOn
{
	font-family: Arial;
	font-size: 11px;
	color: #5fa9ca;
	padding: 3px;

	text-decoration: none;
}

#mainDiv
{
	position: relative; 
	margin: 0; padding: 0; 
	width: 100%; 
	background-position: center; 
	background-repeat: repeat-y; 
	background-image: url('images/mainbg.gif');
}

#mainTable
{
	position: relative; 
	width: 100%; 
	background-position: top center; 
	background-repeat: no-repeat; 
	background-image: url('images/headerbg.jpg');
}

.rightNav
{
	font-family: Arial;
	font-size: 11px;
	color: #57565b;
	line-height: 18px;
}

.rightNav div
{
	padding: 7px;
	font-family: Arial;
	font-size: 11px;
	color: #57565b;
	background-color: #e8e9ea;
	line-height: 14px;
}

a.inactive
{
	color: #57565b;
	font-family: Arial;
	font-size: 11px;
	text-decoration: none;
}
a.inactive:hover
{
	color: #5fa9ca;
	text-decoration: none;
}
.rightNav a.inactive:hover
{
	color: #5fa9ca;
	text-decoration: none;
}

.rightNav a.active
{
	color: #5fa9ca;
	text-decoration: none;
}

.header
{
	font-family: Arial;
	font-size: 11px;
	color: #5fa9ca;
}

.price
{
	font-family: Arial;
	font-size: 16px;
	font-weight: lighter;
	color: #5fa9ca;
}

.header a
{
	color: #5fa9ca;
	text-decoration: none;
}

.header a:hover
{
	color: #5fa9ca;
	text-decoration: underline;
}

.footer
{
	margin-top: 6px;
	font-family: Arial;
	font-size: 10px;
	color: #57565b;
}
	
	/********************************//* Product Page Tabs *//********************************/
/* root element for tabs  */
ul.tabs { 
	list-style:none; 
	margin:0 !important; 
	padding:0;
	font-weight: bold;
	width: 408px;
	height: 28px;
}
/* single tab */
ul.tabs li { 
	float:left;
	width:136px;
	text-indent:0;
	padding:0;
	margin:0 !important;
	list-style-image:none !important; 
}
/* link inside the tab. uses a background image */
ul.tabs a { outline-style:none;
	outline-width:0;
	background-image: url(images/tabbar.gif);
	font-size:11px;
	display:block; 
	line-height:28px;
	width: 136px;
	height: 28px;
	text-align:center;	
	text-decoration:none;
	color:#000;
	padding:0px;
	margin:0px;	
	position:relative;
}
ul.tabs a:active, ul.tabs a:hover {
	outline:none;
	text-decoration:none;
	color:#000;
}
/* Different backgrounds or widths for tabs: use a class name: w1, w2, w3 or w2 */
/* width 1 */
ul.tabs a.w1 			{ background-position: 0px 0;width: 136px}
ul.tabs a.w1:hover 	{ background-position: 0px -28px; }
#t1.current { background-position: 0px -56px; 	cursor:default !important; color:#fff;	}
/* width 3 */
ul.tabs a.w3 			{ background-position: -272px 0px;width: 135px}
ul.tabs a.w3:hover 	{ background-position: -272px -28px; }
#t3.current { background-position: -272px -56px; cursor:default !important; color:#fff;	}

/* width 2 */
ul.tabs a.w2 			{ background-position: -136px 0px;width: 136px}
ul.tabs a.w2:hover 	{ background-position: -136px -28px; }
#t2.current { background-position: -136px -56px; 	cursor:default !important; color:#fff;	}


/* initially all panes are hidden */ 
div.panes div {
	display:none;		
}/********************************
/* BANNER SLIDESHOW
/********************************/* container for slides */.images {	position:relative;		height:368px;		width:972px;	float:left;	background-repeat: none;}/* single slide */.images div {	display:none;	position:absolute;	top:0;	left:0;			margin:0;	padding:0;	height:368px; background-repeat: none;}/* tabs (those little circles below slides) */.slides {	clear:both;	margin-top: 328px;	float:right;	right: 10px;	width:100%;	z-index:1;	position:absolute;}/* single tab */.slides a {	width:8px;	height:8px;	float:right;	margin:3px;	background:url(images/navigator.png) 0 0 no-repeat;	display:block;	font-size:1px;		}/* mouseover state */.slides a:hover {	background-position:0 -8px;      }/* active state (current page state) */.slides a.current {	background-position:0 -16px;     } 	/* disabled navigational button. is not needed when tabs are configured with rotate: true */.disabled {	visibility:hidden !important;		}
